# Git
.git
.gitignore

# GitHub
.github
LICENSE
README.md

# CI
codecov.yml

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore
volumes

# env files
api.env.template
api.env

# VS Code
.vscode/
