language: go

sudo: false

services:
  - docker

go:
  - master

notifications:
  email:
    on_success: never
    on_failure: always

before_install:
  - go get golang.org/x/lint/golint
  - go get github.com/fzipp/gocyclo
  - go get github.com/gorilla/mux
  - go get github.com/urfave/negroni
  - go get github.com/mattn/goveralls

before_script:
  # add api.env, required for docker build
  - cp api.env.template api.env

  # All the .go files, excluding vendor/
  - GO_FILES=$(find . -iname '*.go' -type f)

  # fail if a .go file hasn't been formatted with gofmt
  - test -z $(gofmt -s -l $GO_FILES)
  
  # go vet is the official Go static analyzer
  - go vet ./...
  
  # Fail builds when the cyclomatic complexity reaches 15 or more
  - gocyclo -over 15 $GO_FILES

  # one last linter
  - golint -set_exit_status $(go list ./...)

script:
  # build service with docker compose
  - docker-compose build && docker-compose up && docker-composer stop

  # run all the tests with the race detector enabled
  - go test -v -covermode=count -coverprofile=coverage.out ./...

after_success:
  # report code coverage report to coveralls.io
  - goveralls -service=travis-ci -coverprofile=coverage.out