PORT=8080
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
TELEGRAM_DEFAULT_CHAT_ID=012345678
API_V1_CREDS={"admin":"password","admin2":"password"}

# Optionally secure mongo by enabling authentication
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password

OMADA_URL=https://omada.example.com

OMADA_USERNAME=omada_username
OMADA_PASSWORD=omada_password
